<div class="container mt-3">
  <h1> <%= @task.title %>  </h1>
  <p>Details: <%= @task.details %></p>
  <p>Completed? <%= @task.completed %></p>
  <p class='mt-3'>
    <%= link_to edittask_path(@task) do %>
      <i class="fa-solid fa-pen-to-square fa-lg" style="color: #4a821c;"></i>
    <% end  %>
  </p>
  <p class='mt-3'>
    <%= link_to tasks_path do %>
      <i class="fa-solid fa-house fa-lg" style="color: #3f9fab;"></i>
    <% end  %>
  </p>
</div>
